<template>
  <div class="columns">
    <div class="column">
      <section class="hero is-info">
        <div class="hero-body">
          <div class="container has-text-centered">
            <h1 class="title">
              <i class="fa fa-bullhorn h1-i"></i> Say hello to Listr <i class="fa fa-check h2-i"></i>
            </h1>
        </div>
      </div>
    </section>
      <div class="card">
        <div class="card-content has-text-centered">
          <p class="title">Login with Google</p>
          <button class="button is-info" @click.prevent="signInWithGoogle">Sign in</button>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
  export default {
    methods: {
      signInWithGoogle(){
        this.$emit('signInWithGoogle')
      }
    }
  }
</script>
<style>
  .h1-i {
     line-height:2.0em;
  }
  .h2-i {
     line-height:1.7em;
  }
</style>