<template>
  <div class="columns" v-show="loading">
    <div class="column">
      <div class="card has-text-centered">
        <div class="card-content">
          <img src="/static/img/loader.svg"/>    
          <h4> Loading... </h4>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
  export default {
    props: ['loading']
  }
</script>
<style>
  .loader { margin-top: 100px; }
</style>