<template>
  <div class="fixed-footer">
      <div class="field">
        <div class="control has-icons-right">
          <input type="text" class="input"  v-model="title" 
            @keyup.enter="create" placeholder="Create new item"/>
          <span class="icon is-small is-right">
            <i class="fa fa-keyboard-o"></i>
          </span>
        </div>
      </div>
    </div>
</template>
<script>
  export default {
    data(){ 
      return {
         title: '' 
      }
    },
    computed: {
      isValid(){
        return this.title != ''
      }
    },
    methods: {
      create() {
        if (this.isValid) {
          this.$emit('item-created',this.title)
          this.title = ''
        }
      }
    }

  }
</script>
<style scoped>
  .fixed-footer { 
    position: fixed;
    width: 100%;
    bottom: 0;
    overflow:hidden;
    background-color: #fff;
    padding: 5px 0px;
  }

</style>