<template>
  <nav class="navbar is-transparent nav">
     <div class="navbar-brand">
        <router-link to="" class="navbar-item">
          <img src="/static/img/logo.svg" alt="Listr - Simple Task List App" width="80" height="46">
        </router-link>
        <router-link to="" class="navbar-item" v-show="hasCurrentUser">
          <a href="" class="button is-info" @click.prevent="signOut">Logout</a>
        </router-link>
     </div>
  </nav>
</template>
<script>
  import { mapGetters, mapActions } from 'vuex'
  export default {
    computed: {
      ...mapGetters({
        hasCurrentUser: 'hasCurrentUser'
      })
    },
    methods: {
      ...mapActions({
        signOut : 'signOut'
      })
    }
  }
</script>
<style scoped>
  .nav { position: fixed !important; top: 0; left: 0; right: 0; }
</style>