<template>
  <div class="columns">
    <div class="column">
      <div class="list">
        <div class="card" v-for="(value, key, index) in allTasks" :key="key">
          <div class="card-content">
            {{ value.title }}
            <i class="delete is-pulled-right" @click.prevent="deleteTask(key)"></i>
          </div>
        </div>
      </div>
      <div class="card" v-if="isDataAvailable && !isLoading" v-cloak>
        <div class="card-content">
          Your list is empty
        </div>
      </div>
      <AppFooter v-show="!isLoading" @item-created="itemCreated"></AppFooter>
    </div>
  </div>
</template>
<script>
  import { mapGetters, mapActions } from 'vuex'
  import Loader from './shared/Loader.vue'
  import AppFooter from './Footer.vue'
  export default {
    components: { AppFooter , Loader },
    computed : {
      ...mapGetters({
        allTasks: 'allTasks',
        isLoading: 'isLoading'
      }),
      isDataAvailable(){
        return this.allTasks.length == 0
      }

    },
    methods: {
      ...mapActions({
        addTask: 'addTask',
        deleteTask: 'deleteTask'
      }),
      itemCreated(value) {
        this.addTask(value)
      }
    }
  }
</script>
<style scoped>
  div.list > div.card:last-child {
      margin-bottom:34px !important;
  }
  [v-cloak] { display: none }
  .deleteItem {
    color:red;
  }
</style>