<template>
  <div id="app container is-fluid">
  <AppHeader></AppHeader>
  <div class="content">
    <Loader :loading="isLoading"></Loader>
    <Auth v-show="!hasCurrentUser && !isLoading" @signInWithGoogle="signInWithGoogle"></Auth>
    <transition name="fade">
      <router-view v-show="hasCurrentUser"></router-view>
    </transition>
  </div>
  </div>
</template>

<script>
import AppHeader from './components/Header.vue'
import { auth } from 'firebase'
import fbApp from './firebase'
import Auth from './components/shared/Auth.vue'
import Loader from './components/shared/Loader.vue'
import { mapGetters, mapActions } from 'vuex'
export default {
  name: 'app',
  components: { AppHeader, Loader, Auth },
  computed: {
    ...mapGetters({
      hasCurrentUser: 'hasCurrentUser',
      isLoading: 'isLoading'
    })
  },
  beforeCreate(){
    const user = fbApp.auth().currentUser
    if(user) {
      this.$store.dispatch('setUser',user)
      this.$store.dispatch('fetchTasks')
    }
  },
  methods: {
    ...mapActions({
      setUser: 'setUser',
      fetchTasks: 'fetchTasks',
      loadingOn: 'loadingOn',
    }),
    signInWithGoogle(){
      const googleAuthProvider = new auth.GoogleAuthProvider()
      this.loadingOn()
      fbApp.auth().signInWithPopup(googleAuthProvider)
      .then((result) => {
        let user = result.user
        this.setUser(user)
        this.fetchTasks()
      }) 
    }
  }
}
</script>

<style lang="scss">
@import "../node_modules/bulma/bulma.sass";
.content {
  margin-top:60px;
}
.fade-enter-active, .fade-leave-active {
  transition-property: opacity;
  transition-duration: .25s;
}

.fade-enter-active {
  transition-delay: .25s;
}

.fade-enter, .fade-leave-active {
  opacity: 0
}
</style>
